@page
@model WebApp.Pages.QuizAttempt.ListModel

<div class="container mt-5">
    <h5>Results</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quiz Name</th>
                <th>Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attempt in Model.ResultList)
            {
                <tr>
                    <td>@attempt.QuizName</td>
                    <td>@(attempt.Score)/10</td>
                    <td>
                        <a asp-page="details" asp-route-id="@attempt.QuizId"
                           class="btn btn-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>