<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="https://cdn.jsdelivr.net/gh/creativetimofficial/paper-dashboard@2.0.1/assets/img/logo-small.png">
            </div>
        </a>
        <a href="/Admin/Dashboard" class="simple-text logo-normal">
            Admin Dashboard
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="/Admin/User">
                    <i class="nc-icon nc-single-02"></i>
                    <p>User</p>
                </a>
            </li>
            <li>
                <a href="/Admin/Quiz">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Quiz</p>
                </a>
            </li>
        </ul>
    </div>
</div>
