
@{
}
<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white font-weight-bold py-4 text-center">
        Admin Panel
    </div>
    <div class="list-group list-group-flush">
        <a href="/Admin/User" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="material-icons align-middle">person</i> <span class="ml-2">User</span>
        </a>
        <a href="/Admin/Quiz" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="material-icons align-middle">help_outline</i> <span class="ml-2">Quiz</span>
        </a>
    </div>
</div>
